*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100svh;

}
.navbar{
    display: flex;
    border: 2px solid black;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(5, 10, 48);
    z-index: 999;
}
.navbar img{
    width: 100px;
    border-radius: 2px;
}
.navbar li{
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    font-family: Verdana;
}
.links{
    display: flex;
    margin: 0 auto;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    border: 1px solid white;
    padding: 8px;
}
.hero{
    display: flex;
    justify-content: center;   /* horizontally center */
    align-items: center;       /* vertically center */
    height: 100vh;             /* full viewport height */
    position: relative;   
}
.join{
    
    width: 500px;
    height: 150px;
    text-align: center;
}
.message{
    font-family: "Sono", monospace;
    font-weight: bolder;
    font-size: 3em;
    color: rgb(0, 0, 0);
}
.join-buttom{
    background-color: rgb(19, 160, 241);
    width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: background-color 1s ease;
}

.join-buttom:hover{
    background: linear-gradient(rgb(30, 175, 233),rgb(5, 95, 155),rgba(0, 156, 148, 0.603) 80%);
}
.start-here{
    color: rgb(12, 107, 102);
}
footer{
    background-color: rgb(27, 26, 26);
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(173, 173, 173);
    opacity: 0.8;
    height: 50px;
    font-family: sans-serif;
    font-size: 12px;
}

form input{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px thin;
    font-size: 14px;
    padding: 5px;
    margin: 0.5rem;
}
input[type="submit"]{
    background-color: rgb(11, 104, 245);
    transition: background-color 0.5s ease-in-out;
    height: 50px;
    color: white;
    opacity: 1;
    cursor: pointer;
}
input[type="submit"]:hover{
    opacity: 0.7;
    background: linear-gradient(rgb(58, 58, 192),rgb(28, 105, 219),rgb(13, 174, 238));
}

.products{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}
.products h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product{
    text-align: center;
    width: 400px;
    font-size: 15px;
    padding: 20px;
    border: 1px solid black;
    background: linear-gradient(rgb(247, 245, 245),rgb(252, 248, 248),rgb(235, 226, 226));
    border-radius: 5px;

}
.product p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: rgb(92, 92, 92);
}

.img-container{
    width: 200px;
    padding: 10px;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
}


.divider{
    border: 1px solid black;;
}
.center-form{
    width: 300px;
    margin:  auto;
}
.center-form h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#join{
    width: 500px;;
    margin: 0 auto;
    height: 400px;
}

.maintenance{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.about{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 10px;
    padding: 10px;
}
.image-box{
    width: 300px;
    margin: 0 auto;
    padding: 10px;

}
.image-box img{
    width: 100%;
    border-radius: 5px;
}
.about-box{
    width: 500px;
    border-right: 1px solid black;
    padding: 10px;
}
.about-box p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: rgb(92, 92, 92);
}
#about{
    background-color: rgb(249, 252, 255);
}
.abtus{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 768px){
    .about{
        flex-wrap: wrap;
        padding: 4px;    
    }
.about-box{
    border: 1px solid black;
}
    .join-buttom{
        width: 120px;
        font-weight: 2500;
    }
    .message{
        font-size: 1.5em;
    }

    .navbar img{
        width: 50px;
    }
    .navbar li{
        font-size: 14px;
    }
    .join{
        width: 250px;
    }
    .links{
        margin-left: 10px;
    }
    .products{
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 10px;
        background: transparent;
    }
    
    .product{
    margin-left: 30px;
 
    }

    #join{
        width: 250px;
    }
    #join h1{
        font-size: 20px;
    }
    .center-form{
        width: 205px;
    }
    form input{
        width: 200px;
    }
    .links a:hover{
        padding: 4px;;
    }
}

@media (max-width: 1199px){
    .product{
        width: 300px;
    }

}